<div
  id="app"
  data-btnclass="shopify-payment-button__button"
  data-productId="{{ product.id }}"
  data-customerId="{{ customer.id }}"></div>


{% schema %}
  {
    "name": "Video App",
    "target": "section",
    "stylesheet": "index.css",
    "javascript": "index.js"
  }
{% endschema %}